@model BuildingShop.Domain.DomainObjects.Product

<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Зображення
        </dt>
        <dd class="col-sm-10">
            <img class="img-responsive" width="200" height="200" src="@Model.Image">
        </dd>
        <dt class="col-sm-2">
            Ціна
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Наявна кількість
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            Категорія
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Характеристики
        </dt>
        <dd class="col-sm-10">
            <table class="table-bordered text-center">

                @foreach (var item in Model.Сharacteristics)
                {
                    <tr>
                        <th>@item.Key</th>
                        <th>@item.Value</th>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-product="model.Id">Змінити</a> 
    <a class="btn btn-dark" asp-action="Delete" asp-route-product="model.Id">Видалити</a> 
    <a class="btn btn-dark" asp-action="Index">Повернутися</a>
</div>
