@model BuildingShop.Domain.DomainObjects.Product

<h4>Редагування</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Назва</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">URL зображення</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Ціна</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категорія</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Якщо хочете видалити характеристику то очистіть поле значення або назви характеристики</p>
                @foreach (var item in Model.Сharacteristics)
                {
                    <label class="control-label">Назва характеристики</label>
                    <input type="text" name="@item.Key" value="@item.Key" class="form-control" />
                    <label class="control-label">Значення характеристики</label>
                    <input type="text" name="@item.Value" value="@item.Value" class="form-control" />
                }
                @for (int i = Model.Сharacteristics.Count; i < Model.Сharacteristics.Count + (int)ViewData["СharacteristicsAmount"]; i++)
                {
                    <label class="control-label">Назва характеристики</label>
                    <input type="text" name="Сharacteristics[@i].Key" class="form-control" />
                    <label class="control-label">Значення характеристики</label>
                    <input type="text" name="Сharacteristics[@i].Value" class="form-control" />
                }
            </div>
            <div class="mb-2">
                <a asp-action="Edit" asp-route-сharacteristicsAmount="@((int)ViewData["СharacteristicsAmount"] + 1)"
                   class="btn btn-dark mb-1">
                    Додати поле для характеристики
                </a>
                <a asp-action="Edit" asp-route-сharacteristicsAmount="@((int)ViewData["СharacteristicsAmount"] - 1)"
                   class="btn btn-dark mb-1">
                    Видалити поле для  характеристики
                </a>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися</a>
</div>