@model IEnumerable<BuildingShop.Domain.DomainObjects.Product>

<p>
    <a class="btn btn-success" asp-action="Create">Додати новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Зображення
            </th>
            <th>
                Ціна
            </th>
            <th>
                Кількість
            </th>
            <th>
                Категорія
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img class="img-responsive mx-auto" width="100" src="@item.Image">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a class="btn btn-warning" Edit" asp-route-id="@item.Id">Редагувати</a>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                <a class="btn btn-dark" asp-action="ChangeAmount" asp-route-id="@item.Id">Зробити прихід товару</a>
            </td>
        </tr>
}
    </tbody>
</table>
