@model BuildingShop.Domain.DomainObjects.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOutcome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOutcome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDaysWithoutProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDaysWithoutProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageSalesPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageSalesPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalePerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
