@model IEnumerable<BuildingShop.Domain.DomainObjects.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDaysWithoutProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageSalesPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSalePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDaysWithoutProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSalesPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
