@model BuildingShop.Domain.DomainObjects.ShopCartItem

<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            Зображення
        </dt>
        <dd class="col-sm-10">
            <img class="img-responsive" width="200" height="200" src="@Model.Product.Image">
        </dd>
        <dt class="col-sm-2">
            Ціна
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            Наявна кількість
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Amount)
        </dd>
        <dt class="col-sm-2">
            Категорія
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Характеристики
        </dt>
        <dd class="col-sm-10">
            <table class="table-bordered text-center">

                @foreach (var item in Model.Product.Сharacteristics)
                {
                    <tr>
                        <th>@item.Key</th>
                        <th>@item.Value</th>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>

<form asp-controller="ShopCart" asp-action="AddToCart">
    <input type="hidden" value="@Model.Product.Id" name="ProductId" />
    <div class="form-group col-md-3">
        <label>Кількість</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
        <button type="submit" class="btn btn-primary mt-2">Додати в кошик</button>
    </div>
</form>
<hr />
<div>
    <a class="btn btn-dark" asp-action="Index">Повернутися назад до магазину</a>
</div>
