@{
    ViewData["Title"] = "Home Page";
}

@using BuildingShop.Domain.DomainObjects;
@model IEnumerable<Product> 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row mt-5 mb-2 offset-md-1">
        @{
            foreach (var product in Model)
            {
                <div class="p-3 mr-2 mb-2 border d-flex flex-column">
                    <h2>@product.Name</h2>
                    <p>Ціна: @product.Price</p>
                    <p>Наявна кількість: @product.Amount</p>
                    <p>Категорія: @product.Category.Name</p>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@product.Id">Детальніше</a>
                </div>
            }
        }
    </div>
</div>
