@using BuildingShop.Domain.DomainObjects;
@model IEnumerable<Product> 

<div class="text-center">
    <h1 class="display-4">Всі товари</h1>
</div>

<div class="container">
    <div class="row mt-5 mb-2">
        @{
            foreach (var product in Model)
            {
                <div class="p-3 mr-2 mb-2 col-3 d-flex flex-column border">
                    <h4 class="text-center">@product.Name</h4>
                    <img class="img-responsive mx-auto" width="150" height="150" src="@product.Image">
                    <p class="text-center">Ціна: @product.Price</p>
                    <p class="text-center">Наявна кількість: @product.Amount</p>
                    <p class="text-center">Категорія: @product.Category.Name</p>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@product.Id">Детальніше</a>
                </div>
            }
        }
    </div>
</div>
