@using BuildingShop.Domain.DomainObjects;
@model IEnumerable<Product> 

<div class="text-center">
    <h1 class="display-4">Всі товари</h1>
</div>

<div class="container">
    <div class="row">
        @{
            foreach (var product in Model)
            {
                <div class="col-lg-3">
                    <div class="item">
                        <h4>@product.Name</h4>
                        <img class="img-responsive" width="150" height="150" src="@product.Image">
                        <p>Ціна: @product.Price</p>
                        <p>Наявна кількість: @product.Amount</p>
                        <p>Категорія: @product.Category.Name</p>
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@product.Id">Детальніше</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
