@model BuildingShop.Domain.DomainObjects.Order

<h3>Ви впевнені, що хочете це видалити?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Id продукту
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class="col-sm-2">
            Найменування
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            Початкова дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            Кінцева дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            Кінцева заявка 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Повернитися до списку</a>
    </form>
</div>
