@model BuildingShop.Web.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Product.Id)
        </dd>
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StarDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StarDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StartingAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StartingAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.EndAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.EndAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalIncome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalOutcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalOutcome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DaysWithoutProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DaysWithoutProduct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.AverageSalesPerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.AverageSalesPerDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.MinSalePerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.MinSalePerDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.FinalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.FinalNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.Id" class="btn btn-dark">Редагувати</a> |
    <a asp-action="Index" class="btn btn-dark">Повернутися до списку</a>
</div>
