@model IEnumerable<BuildingShop.Domain.DomainObjects.Order>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Id продукту 
            </th>
            <th>
                Назва
            </th>
            <th>
                Початкова дата
            </th>
            <th>
                Кінцева дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Convert.ToDateTime(item.StarDate).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Convert.ToDateTime(item.EndDate).ToString("dd/MM/yyyy")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
